/* CSS declarations go here */
body {
  font-family: sans-serif;
  background: #e1e5f0;
  background-attachment: fixed;

  font-size: 16px;
}

form input.chicken_name {
  width: 150px;
}

table#chickens th.align-left {
  text-align: left;
}

table#chickens td.chicken-box {
  text-align: center;
}

.delete {
  font-weight: bold;
  background: none;
  font-size: 1.2em;
  color: #990000;
  cursor: pointer;
  padding: 2px 6px 3px 6px;
}
